body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      position: relative;
}

header {
      background-color: #333;
      color: white;
      padding: 10px;
      text-align: center;
      position: relative;
}

ul {
      list-style-type: none;
      padding: 0;
}

.films {
      align-items: center;
      text-align: center;
}

.item {
      background-color: #ccc;
      width: 400px;
      height: 320px;
      display: inline-block;
      cursor: pointer;
      margin: 10px;
}

.imageFilm {
      display: block;
      margin: 20px auto;
      text-align: center;
}

.adds {
      position: absolute;
      top: 90px;
      right: 0;
      left: 0;
}

.finalConsiderations {
      text-align: center;
      margin-top: 10px;
}

.comments {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.rodape{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      cursor: pointer;
      padding: 10px;
}

.userInput {

      bottom: 0;
      width: 100%;
      color: black;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 10px;
}